<template>
  <div class="<%= lowerName %>">
    <h2>{{ message }}</h2>
  </div>
</template>

<script>
  export default {
    name: "<%= name %>",
    components: {},
    mixins: [],
    props: {},
    data: function () {
      return {
        message: "Hello <%= name %>",
      };
    },
    created: function () {},
    mounted: function () {},
    computed: {},
    methods: {},
  };
</script>

<style scoped>
  .<%= lowerName %> {
  }
</style>
